@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Source+Serif+Pro');


body{
  background: white;
}


#menu{
  display: none;
  position: fixed;
  top: 2%;
  right: 0;
  padding: 4%;
  font-size: $md;
  opacity: 1;
  transition: all 500ms ease;
  @include phone-tab-media{
    display: inline-block;
  }
}
//hide scrollbar for chrome and safari--------
::-webkit-scrollbar {
    display: none;
}
