#main-doc{
  margin-left: 20%;
  margin-top: 0;
  width: 80%;
  height: 100%;

 > header{
    font-size: 3em;
    font-weight: 600;
    padding: 4%;
    border-top: 4px solid $primary;
    border-left: 4px solid black;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 1) inset;
  }

  section{
    margin: 4%;
    >header{
      border-bottom: 2px solid $primary;
      font-size: $lg;
      font-weight: bold;
      padding-left: 1%;
    }
    >article{
      padding: 2%;
      >code{
        display: block;
        padding: 2%;
        background: darken($color, 10%);
        border-left: 4px solid #3F51B5;
      }
    }
  }
}
